.ellips{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  /*cursor: pointer;*/
  word-break: break-all;
}
*{
  font-family: Helvetica, sans-serif;
}
.rotate180{
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* Internet Explorer */
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); /* Opera */
}
.text{
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
